@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #1E5959, #3B8C6E);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(4, 31, 14);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0B2B40;
    text-align: center;
    text-shadow: 1px 1px 2px #071b29b6;
}

h2 {
    color: #164773;
}

p {
    text-align: justify;
}